:root {
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --primary-black-color: #000000;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --projects-thumb-text: rgba(255, 255, 255, 1);
  --projects-thumb-bg: rgba(33, 150, 243, 0.9);
  --project-border-color: #eeeeee;
  --button-order-active: #188ce8;
  --work-text-bg: rgba(47, 48, 58, 0.8);
  --primary-icons-color: #afb1b8;
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --follow-link-bg: rgba(255, 255, 255, 0.1);
  --form-title-color: rgba(33, 33, 33, 1);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  --teamcard-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --filter-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --projects-hover-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --primary-gap-size: 30px;
  --modal-button-border: rgba(0, 0, 0, 0.1);
  --form-input-border: rgba(33, 33, 33, 0.2);
  --footer-form-border: rgba(255, 255, 255, 0.3);
  --modal-window-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
/* reset styles */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}
.link {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}
h1,
h2,
h3,
p {
  margin: 0 auto;
}
img,
svg {
  display: block;
  max-width: 100%;
}
/* Global styles */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-bottom: 0;
}
/* title */
.section-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* header */
.page-header {
  margin-bottom: 0;
  border-bottom: 1px solid var(--header-border-color);
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-accent-color);
  text-decoration: none;
}
.logo.text {
  color: var(--primary-black-color);
}
/* Navigation */
.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.site-nav .link {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-accent-color);
}
.link.current {
  color: var(--primary-accent-color);
}
.link.current::after {
  position: absolute;
  bottom: 0;

  content: "";
  width: 100%;
  height: 4px;
  display: inline-block;

  background-color: var(--primary-accent-color);
  border-radius: 2px;
}
/* Contacts list */
.contact-list {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  gap: var(--primary-gap-size);

  align-items: center;
}
.contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  align-items: center;

  transition: color 250ms var(--timing-function);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--primary-accent-color);
}
.mail-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;

  fill: currentColor;
}
.tel-icon {
  margin-right: 10px;
  width: 10px;
  height: 16px;

  fill: currentColor;
}
/* Hero */
.hero-overlay {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/webstudio-hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
/* Order button */
.order-button {
  padding: 10px 32px;
  min-width: 216px;

  font-family: "Roboto";
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--primary-accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px var(--button-shadow-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;

  transition: background-color 250ms var(--timing-function);
}
.order-button:hover,
.order-button:focus,
.order-button:active {
  background-color: var(--button-order-active);
}
/* Features */
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}
.feature-list {
  display: flex;
  margin-left: calc(-1 * var(--primary-gap-size));
}
.feature-list > .item {
  flex-basis: calc(100% / 4 - var(--primary-gap-size));
  margin-left: var(--primary-gap-size);
}
.feature-thumb {
  margin-bottom: var(--primary-gap-size);
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-bg-color);
}
/* Work */
.work-list {
  display: flex;
  margin-left: calc(-1 * var(--primary-gap-size));
}
.work-list > .item {
  position: relative;

  flex-basis: calc(100% / 3 - var(--primary-gap-size));
  margin-left: var(--primary-gap-size);
}
.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--work-text-bg);
}
/* Team */
.team {
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
  margin-left: calc(-1 * var(--primary-gap-size));
}
.team-card {
  flex-basis: calc(100% / 4 - var(--primary-gap-size));
  margin-left: var(--primary-gap-size);

  font-size: 16px;
  line-height: 1.19;
  background-color: var(--primary-white-color);

  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--teamcard-box-shadow);
}
.team-card .text {
  padding: 30px 32px;
}
.teammate {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-text-color);
}
.team-social {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.team-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: var(--primary-icons-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.team-link:hover,
.team-link:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
}
.team-icon {
  fill: currentColor;
}
/* Clients */
.clients-list {
  display: flex;
  margin-left: calc(-1 * var(--primary-gap-size));
}
.clients-list .item {
  flex-basis: calc(100% / 6 - var(--primary-gap-size));
  margin-left: var(--primary-gap-size);
}
.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  color: var(--primary-icons-color);
  border: 1px solid var(--primary-icons-color);
  border-radius: 4px;

  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--primary-accent-color);
  border-color: var(--primary-accent-color);
}
.clients-icon {
  fill: currentColor;
}
/* Footer */
.page-footer {
  padding-bottom: 60px;
  padding-top: 60px;

  background-color: var(--primary-bg-color);
}
.contacts {
  max-width: 231px;
  margin-right: 70px;
}
.footer.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
/* logo */
.logo.studio {
  color: var(--primary-white-color);
}
.page-footer .link {
  color: var(--footer-contacts-color);

  transition: color 250ms var(--timing-function);
}
.link.map {
  color: var(--primary-white-color);
}
.page-footer .link:hover,
.page-footer .link:focus {
  color: var(--primary-accent-color);
}
.address-list {
  margin-top: 20px;
  padding-right: 22px;
}
.address-list .item + .item {
  margin-top: 9px;
}
.follow-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.follow-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  gap: 10px;
}
.follow-list .item {
  flex-basis: calc(100% / 4 - 10px);
}
.follow-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: var(--follow-link-bg);

  transition: background-color 250ms var(--timing-function);
}
.follow-link:hover,
.follow-link:focus {
  background-color: var(--primary-accent-color);
}
.follow-icon {
  fill: currentColor;
}
.follow {
  margin-right: 93px;
}
.footer-form {
  display: flex;
  margin-left: 0;
}
.follow-form {
  display: flex;
  align-items: flex-end;
  max-width: 570px;
}
.follow-form .follow-text {
  margin-bottom: 0;
}
.follow-form .form-input {
  padding: 14px 16px;
  margin-top: 20px;
  margin-right: 12px;
  width: 358px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: inherit;
  color: var(--footer-contacts-color);
  border: 1px solid var(--footer-form-border);
  box-shadow: 0px 4px 4px var(--button-shadow-color);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.follow-form .form-input::placeholder {
  color: var(--footer-contacts-color);
}
.follow-form .form-input:hover,
.follow-form .form-input:focus,
.follow-form .form-input:active {
  border-color: var(--primary-accent-color);
  outline-color: var(--primary-accent-color);
}
.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  min-width: 200px;

  font-family: "Roboto", sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px var(--button-shadow-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}
.footer-button:hover,
.footer-button:focus,
.footer-button:active {
  background-color: var(--button-order-active);
}
.icon-email {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  fill: currentColor;
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bg-color);
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  position: absolute;
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  overflow: hidden;

  max-width: 528px;
  min-height: 581px;

  background-color: var(--primary-white-color);
  box-shadow: var(--modal-window-shadow);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  border: 1px solid var(--modal-button-border);
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms var(--timing-function);
}
.close-button:hover,
.close-button:focus {
  color: var(--primary-accent-color);
}
.modal-close {
  width: 18px;
  height: 18px;

  fill: currentColor;
}
.order-form {
  width: 100%;
  padding: 40px;

  text-align: center;
}
.form-title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--form-title-color);
}
.form-field {
  position: relative;

  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form-field .form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-field .form-input {
  padding-top: 11px;
  padding-right: 12px;
  padding-left: 42px;
  padding-bottom: 11px;

  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.form-field .form-input:hover,
.form-field .form-input:focus,
.form-field .form-input:active {
  color: var(--primary-black-color);
  border-color: var(--primary-accent-color);
  outline-color: var(--primary-accent-color);
}
.form-field .form-textarea {
  height: 120px;
  padding: 12px 16px;

  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}
.form-field .form-textarea:hover,
.form-field .form-textarea:focus,
.form-field .form-textarea:active {
  border-color: var(--primary-accent-color);
  outline-color: var(--primary-accent-color);
}
.form-field .form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}
.form-field .form-textarea:focus {
  color: var(--primary-black-color);
}
.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(15%);
  left: 12px;

  width: 18px;
  height: 18px;

  fill: var(--form-title-color);
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon,
.form-input:active + .form-icon {
  fill: var(--primary-accent-color);
}
.form-button {
  min-width: 200px;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px var(--button-shadow-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.form-button:hover,
.form-button:focus,
.form-button:active {
  background-color: var(--button-order-active);
}
.mailing {
  position: relative;

  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.form-policy {
  margin-left: 4px;

  color: var(--primary-accent-color);
}
.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.icon {
  position: absolute;
  display: flex;
  align-items: center;
  height: 15px;
  width: 16px;
  margin-left: -23px;

  background-color: var(--primary-white-color);
  border: 2px solid var(--secondary-text-color);

  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.checkbox-icon {
  height: 15px;
  width: 16px;
}
.checkbox:checked ~ .icon {
  background-color: var(--primary-accent-color);
  border: 2px solid var(--primary-accent-color);
}
/* portfolio */
.portfolio-button {
  padding: 6px;
  min-width: 73px;

  font-family: "Roboto";
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);

  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  box-shadow: var(--filter-button-shadow);
}
/* Filter */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-gap-size));
  margin-top: calc(-1 * var(--primary-gap-size));
}
.project-card {
  flex-basis: calc(100% / 3 - var(--primary-gap-size));
  margin-left: var(--primary-gap-size);
  margin-top: var(--primary-gap-size);

  transition: box-shadow 250ms var(--timing-function);
}
.project-card:hover {
  box-shadow: var(--projects-hover-shadow);
}
.project-thumb {
  position: relative;
  overflow: hidden;
}
.project-description {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  color: var(--projects-thumb-text);
  background-color: var(--projects-thumb-bg);

  transition: transform 250ms var(--timing-function);
}
.project-link:hover .project-description,
.project-link:focus .project-description {
  transform: translateY(0%);
  opacity: 1;
}
.project-content {
  padding: 20px 24px;

  border: 1px solid var(--project-border-color);
}
.project-sample {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
}
